<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:replace="layout/plantilla :: head">
  <meta charset="UTF-8">
</head>
<body>
<header th:replace="layout/plantilla :: header"/>

<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/agregar}"> [[#{persona.crear}]]</a>

<p th:text="${mensaje}"></p>

<br>
<div th:if="${personas != null and !personas.empty}">
  <table border="1">
    <tr>
      <th>[[#{persona.nombre}]]</th>
      <th>[[#{persona.apellido}]]</th>
      <th>[[#{persona.email}]]</th>
      <th>[[#{persona.telefono}]]</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.editar}]]</th>
      <th sec:authorize="hasRole('ROLE_ADMIN')">[[#{accion.eliminar}]]</th>
    </tr>

    <tr th:each="persona : ${personas}">
      <td th:text="${persona.nombre}">Mostrar nombre</td>
      <td th:text="${persona.apellido}">Mostrar nombre</td>
      <td th:text="${persona.email}">Mostrar nombre</td>
      <td th:text="${persona.telefono}">Mostrar nombre</td>
      <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editar/} + ${persona.id}" th:text="#{accion.editar}"/> </td>
      <!--   <td><a th:href="@{/eliminar/} + ${persona.id}" th:text="Eliminar"/> </td>-->
      <!-- Segunda forma para enviar el id como Query parameter  -->
      <td sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/eliminar(id=${persona.id})}" th:text="#{accion.eliminar}"/> </td>
    </tr>
  </table>
</div>
<div th:if="${personas == null or personas.empty}">
  <p>[[#{persona.lista-vacia]]</p>
</div>
<footer th:replace="layout/plantilla::footer"/>
</body>
</html>